.burger-line {
    height: 3px;
    background: #17417C;
    margin-bottom: 7px;
  
    transition: all 0.4s ease; /* important for animation */
  }
  
  .burger-item {
    width: 34px;
    cursor: pointer;
  }
  
  .burger-item.active .burger-line:last-child {
    opacity: 0;
  }
  .burger-item.active .burger-line:first-child {
    transform: rotate(45deg) translate(7px, 7px);
  }
  .burger-item.active .burger-line:nth-child(2) {
    transform: rotate(-45deg);
  }
  