// Colors


$color-blue: #7FAED8;
$color-blue-light: #A5CDF0;
$color-blue-dark: #003F81;


$color-green: #6D8130;
$color-green-light: #97AC6C;
$color-green-dark: #435E19;

$color-yellow: #FFD314;
$color-rosa: #C64E8B;
$color-brown: #9C443B;

$font-color-first: black;
$font-color-second: white;
$font-color-third: #003F81;
