@import "../../styles/Sass/variables.scss";

.btn {
  border: none;
  border-radius: 15%;
  background-color: chartreuse;
  font-family: Signika-Negative;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
