@import "../../styles/Sass/variables.scss";

.btn {
  background-color: aqua;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Segnita Negativ;
  font-size: 18px;
  padding: 16px 31px;
  text-decoration: none;
  border: none;
}

.btn-blue {
  background-color: $color-blue-middle;
  &:hover {
    background-color: $color-blue-light;
  }
}
