@import "/src/styles/variables.scss";

body {
  display: flex;
}
.home {
 
  background-image: url("../images/OvalHellblau.svg");

  
}
.about {
  background-image: url("../images/OvalHellGelb.svg");
}
