@import "../../styles/Sass/mixins.scss";

.nav-container {
  display: none;
  justify-content: space-between;
  align-items: center;
  font-family: "Atma", medium;
  background-color: transparent;
  color: #003f81;
}

@include respond-desktop {
  .burger-menu {
    display: none;
  }
  .nav-container {
    display: flex;

    nav {
      ul {
        margin-right: 52px;
        list-style: none;
        padding: 0;

        li {
          display: inline;
          margin-left: 50px;
          font-size: 24px;
        }
        a {
          text-decoration: none;
        }
        li:hover {
          border-bottom: solid #003f81 3px;
        }
      }
    }
  }
}
