.nav-container {
  display: none;
  justify-content: space-between;
  align-items: center;
  font-family: "Atma", medium;
  color: #003f81;
  .burger-menu {
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  .nav-container {
    display: flex;

    ///////////////////Unser Nav
    nav {
      ul {
        margin-right: 52px;
        list-style: none;
        padding: 0;

        li {
          display: inline;
          margin-left: 50px;
          font-size: 24px;
        }
        a {
          text-decoration: none;
        }
        li:hover {
          border-bottom: solid #003f81 3px;
        }
      }
    }
    ///////////////////Logo
    img {
      background-color: white;
      margin-left: 3rem;
    }
  }
  .burger-menu {
    display: none;
  }
}
