@import "../../styles/Sass/mixins.scss";
@import "../../styles/Sass/variables.scss";

footer {
  background-color: $color-blue-middle;
  font-size: 30px;
  list-style: none;

  ul {
    list-style: none;
    padding-top: 42px;
    padding-left: 55px;
    a {
      text-decoration: none;
      font-size: 21px;
      color: $color-white;
    }
  }

  .footer-sozial {
    display: flex;
    padding: 42px 0 55px 55px;

    .social-media-icon {
      width: 54px;
      height: 54px;
    }
  }
  .social-media-icon-facebook {
    background-image: url("../../images/icons/facebooklogo.svg");
  }
  .social-media-icon-instagram {
    margin-left: 33px;
    background-image: url("../../images/icons/instagrammlogo.svg");
  }
}

@include respond-desktop {
  footer {
    display: flex;
    justify-content: space-between;

    h3 {
      margin-top: 0;
    }

    ul {
      li {
        margin-bottom: 8px;
        &:hover {
          color: #003f81;
        }
      }
    }

    .footer-erleben {
      margin-top: 117px;
      margin-left: 133px;
    }

    .footer-kontakt {
      margin-top: 117px;
    }

    .footer-sozial {
      display: flex;
      margin-top: 117px;
      margin-right: 320px;

      .social-media-icon {
        width: 54px;
        height: 54px;
      }
    }
  }
}
